<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="saveChange()">
  <p-panel #pnlDetail header="Thông tin" [toggleable]="true" [collapsed]="false">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="typeName">Tên <span class="required">*</span></label>
        <input id="typeName" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="typeName"
          (keyup)="generateSlug()" [style]="{ width: '100%' }" />
        <app-validation-message [entityForm]="form" fieldName="typeName"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-12 md:col-6">
        <label for="slug">Slug<span class="required">*</span></label>
        <input id="slug" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="slug"
          [style]="{ width: '100%' }" />
        <app-validation-message [entityForm]="form" fieldName="slug"
          [validationMessages]="validationMessages"></app-validation-message>
      </div>
      <div class="field col-6 md:col-6">
        <label for="avatarFile">Ảnh đại diện</label>
        <input id="avatarFile" (change)="onFileChange($event)" type="file" [style]="{ width: '100%' }" />
        <p-image *ngIf="photoImage" [src]="photoImage" [preview]="true" width="250">
        </p-image>
      </div>
      <div class="field-checkbox col-12 md:col-6">
        <p-checkbox formControlName="isActive" [binary]="true" id="isActive"></p-checkbox>
        <label for="isActive">Kích hoạt</label>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid || btnDisabled">
        {{ saveBtnName }}
      </button>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>